.paper_sheet {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.register_container {
  background-image: url('../../assets/images/AuthBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% - 250px) calc(50% - 1px);
}

.ant-form-item-explain-error {
  text-align: start;
}

.ant-form-item-label .ant-form-item-required {
  width: 300px !important;
}