.left-top {
    >span {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: #b34512;
        width: fit-content;

        img {
            background: #fff;
            width: 96px;
            height: 96px;
            border-radius: 50%;
            border: 3px solid #fff;
            object-fit: cover;
        }
    }
}

.right-bottom-left {
    &:hover {
        transition: 0.2s;
        cursor: pointer;

        .report-icon {
            color: red
        }

        .report-text {
            text-decoration: underline;
        }
    }
}

.right-bottom-right {
  transition: color 0.3s, text-decoration 0.3s;

  .like-icon, .like-text {
      transition: color 0.3s, text-decoration 0.3s;
  }

  &:hover {
      cursor: pointer;

      .like-icon {
          color: blue; // Icon sẽ chuyển màu xanh khi hover, nếu không muốn icon chuyển màu, bỏ dòng này.
      }

      .like-text {
          text-decoration: underline;
          color: blue; // Text sẽ chuyển màu xanh và gạch chân khi hover.
      }
  }
}

.liked-icon {
  color: blue;
}

.liked-text {
  color: blue;
  text-decoration: none; // Bỏ gạch chân khi đã liked.
}

.not-liked-icon {
  color: black;
}

.not-liked-text {
  color: black;
  text-decoration: none;
}

.reply-wrapper {
    width: calc(100% - 60px);
}

.right-editor .ql-toolbar {
    background-color: #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.right-editor .ql-container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: white;
}

.icon-reply {
  transform: scaleX(-1);
}

