.ant-table-thead .ant-table-cell {
    background-color: #216bed !important;
    color: #ffffff !important;
}

.ant-table-selection-column {
  padding-inline: 28px !important;
}

.ant-dropdown-trigger > span {
  color: #ffffff !important;
}