.custom-breadcrumb .ant-breadcrumb-link a {
    color: blue;
}

.custom-breadcrumb .ant-breadcrumb-separator {
    margin: 0 8px;
}

.custom-breadcrumb .ant-breadcrumb-link span {
    color: inherit;
}