.paper_sheet{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login_container{
    background-image: url("https://static.independent.co.uk/2023/03/28/17/Getty%20Images%20.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% - 250px) calc(50% - 1px);
}